<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826700708931-62si0qes0th7r4fa4oj85dl1gul7j54n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826700708931-62si0qes0th7r4fa4oj85dl1gul7j54n</string>
	<key>API_KEY</key>
	<string>AIzaSyBeTs14N8TeU6XXiaxWLsBkZyt6r7RTS-g</string>
	<key>GCM_SENDER_ID</key>
	<string>826700708931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.EcoLive</string>
	<key>PROJECT_ID</key>
	<string>eco-live-1654067786795</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-live-1654067786795.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826700708931:ios:cd818041a448e038fbe8f6</string>
</dict>
</plist>